.postmodtools {
    margin-top: -.3rem;
    margin-bottom: -.3rem;
}

.postmodtools .dropdown-trigger {
    display: none;
}

.postmodtools .dropdown-menu {
    display: inline-block !important;
    position: relative;
    min-width: unset;
    border: none;
    box-shadow: unset;
}

.postmodtools .dropdown-content {
    background: none;
    box-shadow: unset;
}

.postmodtools .dropdown-item {
    padding: 0;
    display: inline-block;
    overflow: hidden;
    font-size: inherit;
    padding-right: .5em;
    height: 26.4px; /* height of .postheader - 1px */
    max-width: 1.5rem; /* width of .icon */
    transition: max-width 1s;
}

.postmodtools:hover * ~ .dropdown-item:not(:hover) {
    transition-delay: 10s;
}

.postmodtools .dropdown-item:hover {
    transition-delay: 0s;
    max-width: 100vw;
}
